/* GENERAL */


/* Import all styles */

@import url('/assets/css/archives.css');
@import url('/assets/css/carousel.css');
@import url('/assets/css/footer.css');
@import url('/assets/css/header.css');
@import url('/assets/css/homepage.css');
@import url('/assets/css/page.css');
@import url('/assets/css/single.css');

/* GENERAL */
body{

    font-family: 'Montserrat', sans-serif;
    color : #0F0826;
}


a{
    color : #0F0826;
}

a.primary {

    color  : #FFEE3D;
}


a:hover {
    text-decoration : none;
    color : #0056b3;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .btn-primary, .navbar,  .movie-tag {
    font-weight: 600;
}
.clearfix {
    clear: both;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus , .movie-tag{
    color : #0F0826;
    text-transform : uppercase;

}
.btn-primary, .movie-tag{
    background-color : #FFEE3D;
    border-color : #FFEE3D;
}
.btn-primary:hover, .btn-primary:focus, .movie-tag:hover{
    background-color : #ffe76f;
    border-color : #ffe76f;
}
.btn-account{

    font-size : 0.8rem;
    border-radius : 2rem;
}
.btn-secondary {
    padding: 1rem 2rem;
    background-color : #0F0826;
    text-transform : uppercase;
    font-size : 0.9rem;
    font-weight : 600;
    border-radius : 0;
}
.btn-secondary:hover {
    background-color : #FFEE3D;
    color : #0F0826;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-inline > li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.view-more {
    text-transform : uppercase;
    font-weight : 600;
    font-size : 0.7rem;
}

.carousel h2, .page-title h2{
    font-weight : 900;
    font-size : 3rem;

}

/* MOVIES TAGS */

.btn-account , .movie-tag{
    padding: 0.5rem 1rem;
    font-size : 0.8rem;

}
.carousel-caption p.movies-data {
    font-size : 0.8rem;
}


p.movies-data span {
    padding : 0 1rem;
    border-right : 1px solid #d0d8db;
}
p.movies-data span:first-child {
    padding: 0 1rem 0 0;
}
p.movies-data span:last-child {
    border-right : none;
}

/* Section */

section {
    padding : 5rem 0;
}
section .line-title {
    width: 60px;
    display : block;
}
section .line-title hr {

    margin-top : 0;
    border-top : 4px solid #FFEE3D;
}

section .subtitle {

    text-transform: uppercase;
}

/*** DARK BACKGROUND */
.dark-bg {
    background-color : #0F0826;
    color : #fff;
}

section.dark-bg a {
    color : #fff;
}

section h3 {
    font-size : 30px;
    text-transform : capitalize;
    letter-spacing : 1px;
    margin-bottom : 0rem;
}
/*** LIGHT BACKGROUND */

.light-bg {
    background-color : #f6f8fe;
}