/* GENERAL */


/* Import all styles */

@import url('/assets/css/archives.css');
@import url('/assets/css/carousel.css');
@import url('/assets/css/footer.css');
@import url('/assets/css/header.css');
@import url('/assets/css/homepage.css');
@import url('/assets/css/page.css');
@import url('/assets/css/single.css');

/* GENERAL */
body{
    font-family: 'Montserrat', sans-serif;
    color : #041721;
}
main {
    background-color: #EFF3FF;
    min-height: 500px;
}
.container-fluid {
    padding-left : 40px;
    padding-right: 40px;
}
a{
    color : #121a21;
}

a:hover,
.dark-bg a:hover {
    color : #24baef;
    text-decoration : none;
}

a.primary {

    color  : #ffde3c;
}

.dark-bg a {
    color : #fff;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4{
    font-weight: 800;
}
.clearfix {
    clear: both;
}

.btn {
    padding: 0.75rem 1rem;
    text-transform : uppercase;
    font-size : 0.9rem;
    font-weight : 600;
    border-radius : 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus , .movie-tag{
    color : #0F0826;
}
.btn-primary, .movie-tag{
    background-color : #ffde3c;
    border-color : #ffde3c;
}
.btn-primary:hover, .btn-primary:focus{
    background-color : #ffe76f;
    border-color : #ffe76f;
}
.btn-account{
    font-size : 0.8rem;
    border-radius : 2rem;
    padding: 0.6rem 2.5rem;
}
.btn-secondary {
    border:none;
    background-color : #041721;


}
.btn-secondary:hover {
    background-color : #24baef;
}


.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-inline > li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.view-more {
    text-transform : uppercase;
    font-weight : 600;
    font-size : 0.7rem;
}

.carousel h2, .page-title h2{
    font-weight : 900;
    font-size : 3rem;

}

.modal-content{
    max-width: 100%; !important;
}



.carousel-caption p.movies-data {
    font-size : 0.8rem;
}


/* MOVIES INFO */

.movie-info {
    font-size : 0.7rem;
    color : #6a7ba5;
}

.carousel-caption p.movies-data, .movies-data {
    font-size : 0.8rem;
}

p.movies-data span {
    padding : 0 1rem;
    border-right : 1px solid #d0d8db;
}

p.movies-data span:first-child {
    padding: 0 1rem 0 0;
}
p.movies-data span:last-child {
    border-right : none;
}


/*  MOVIES TAGS */

.movie-tag{
    padding: 0.5rem 1rem;
    font-size : 0.6rem;
    font-weight: 600;

}
.movie-tag:hover {
    color : #0f0826;
}
.movie-tag {
    text-transform: uppercase;
}
.movie-tags.list-inline > li {
    padding : 0;
}

@media only screen and (max-width:980px) {
    .placement_info_film
    {text-align: center;

    }
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

/* MOVIE BOX */

.image-movie{
    position: relative;
    margin-bottom: 0.5rem;
}

.image-movie .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(15,8,38,0.5);

}
.image-movie:hover .overlay {
    opacity: 1;
}
.image-movie .text {
    color : #fff;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.movie-box h4, .top-movie .movie-box h5  {
    font-size: 0.9rem;
    font-weight: 600;

}

.movie-box h4, .top-movie .movie-box h5 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-description {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color : #6a7ba5 !important;
}
.image-movie img {
    display: block;
    width: 100%;
    height: auto;
}

/* Section */

section {
    padding : 5rem 0;
}
.line-title {
    width: 60px;
    display : block;
}
.line-title hr {

    margin-top : 0;
    border-top : 4px solid #ffde3c;
}

section .subtitle {

    text-transform: uppercase;
}

/*** DARK BACKGROUND */
.dark-bg {
    background-color : #020d18;

}
.dark-bg {
    color : #fff;
}
/*** WHITE BACKGROUND */


section h3 {
    font-size : 30px;
    text-transform : capitalize;

}
/*** LIGHT BACKGROUND */

.light-bg {
    background-color : #ffffff;
}

/*** USER PAGE ***/

.user .column {
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
    margin-bottom: 8px;
}
.user .column img {
    position:absolute;
    vertical-align: middle;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.user .column img.top:hover {
    opacity: 0;
}

.user .actionsIcons{
   width: 100px;
  height: 100px;
}



