.header-page{

    background: #0f0826 center center url("../../uploads/salle_cinema.jpg") no-repeat;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color : #fff;
    height: 200px;

}


.sorting-bar{

    display: flex;
    padding: 7px 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}


/* Custom select*/
.custom-select {
    position: relative;
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
}


/* Liste de films */

.list-movie{
    display: flex;
    padding: 7px 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}


.modal-content, #loginform article{
    max-width: 400px;
}

#loginform {
    border : none;
}
